<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>uniclubs | Üniversite Kulüpleri & Toplulukları Yönetim ve İletişim Platformu</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.ico">
</head>

<body>
    <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
        <img src="https://play.tailwindcss.com/img/beams.jpg" alt=""
            class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308" />
        <div
            class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]">
        </div>
        <div
            class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
            <div class="mx-auto max-w-md">
                <a href="/"><img src="/images/logo-light.png" class="h-12" alt="uniclubs" /></a>
                <div class="divide-y divide-gray-300/50">
                    <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                        <p>Üniversite Kulüpleri & Topluluklarının Yönetim ve İletişim Platformu'nda seni görmekten
                            dolayı çok mutluyuz 🥳</p>
                        <ul class="space-y-4">
                            <li class="flex items-center">
                                <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="11" />
                                    <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                                </svg>
                                <p class="ml-4">
                                    Resmi onaylı kulübünü uniclubs'a taşı ve dijitalleştir!
                                </p>
                            </li>
                            <li class="flex items-center">
                                <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="11" />
                                    <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                                </svg>
                                <p class="ml-4">
                                    Kulüp içi yönetimini uniclubs ile sağla.
                                </p>
                            </li>
                            <li class="flex items-center">
                                <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="11" />
                                    <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
                                </svg>
                                <p class="ml-4">Birçok kulüp ve toplulukla iletişim kur ve network'ünü genişlet!</p>
                            </li>
                        </ul>
                        <p>Pek yakında web sitemiz yayında olacak! Şimdiden ön kayıt oluştur 🤩</p>
                        <li class="flex items-center">
                            <form style="width: 100%" method="post" action="/save" >
                                <label for="mail"
                                    class=" text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Your
                                    Email</label>
                                <div class="relative"> 
                                    <input type="mail" id="mail" name="email"
                                        class="block p-4 pl-4 pr-200 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 outline-none transition-all"
                                        placeholder="ornek@gmail.com" required>
                                    <button type="submit"
                                        class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Abone
                                        ol</button>
                                </div>
                            </form>
                        </li>
                    </div>
                    <div class="pt-8 text-base font-semibold leading-7">
                        <p class="text-gray-900">Daha fazla bilgi mi edinmek istiyorsun ?</p>
                        <p>
                            <a href="mailto:contact@uniclubs.net"
                                class="text-sky-500 hover:text-sky-600">contact@uniclubs.net &rarr;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>